
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <a class='navbar-brand' [routerLink]='["/"]'>Product Catalog</a>
        </div>
        <div class='clearfix'></div>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/product"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-plus'></span> Add Product
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a href="/swagger" >
                <span class='glyphicon glyphicon-th-list'></span> API Doc
              </a>
            </li>
          </ul>
    </div>
