
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>PRODUCT CATALOG</h1>
      <p>Welcome to your Product Catalog</p>
    </div>
    <br /><br /><br />
    <div class="col-md-4 col-md-offset-4">
      <form class="form-inline">
        <input  type="text" class="form-control" id="txtSearch" placeholder="Product Name" [(ngModel)]="token" name="search">
        <button type="submit" class="btn btn-default" id="btnSearch" (click)="searchProduct()">Search</button>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row" >
    <div class="col-sm-4" *ngFor="let product of productBlocks">
      <div class="card" style="margin-bottom: 10px">
        <div class="card-block" style="text-align: center">
          <h3 class="card-title">{{product.name}}</h3>
          <div style="height: 120px">
              <img src="assets/Images/{{product.photo}}" style="max-width: 90%;max-height: 90%" class="img-circle" />
          </div>
          <br>
          <p class="card-text">
            Price : {{product.price}} Euros <br />
            Last Updated on {{product.lastUpdated | date:'medium'}}
          </p>
          <button type="submit" class="btn btn-primary" (click)="editProduct(product.id)">Edit</button>
          <button type="submit" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-10">
      <br /><br />
      <form class="form-inline">
        <button type="submit" class="btn btn-info" id="btnExport" (click)="downloadExcel()">Export to Excel</button>
      </form>
    </div>
  </div>
</div>
